 body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #043C51, #043C51); 
    color: #fff;
    
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #ffffff, #98a9af); 
    
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
    color:#ffffff;
  }